body {
 background-color: aquamarine;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}
.card {
 background-color: transparent;
 margin-top: 5px;

}
